n8n-workflows/post_generator.json
{
  "name": "LinkedIn Agent – Post Generator (Slack Button)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-post-generator",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook – Slack Button",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "linkedin-post-generator"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-respond",
      "name": "HTTP 200 an Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "jsCode": "// Decode Slack interactive payload\n// Slack sends: application/x-www-form-urlencoded with field 'payload'\nconst body = $('Webhook – Slack Button').first().json.body;\n\nlet payloadStr;\nif (typeof body === 'string') {\n  // URL-encoded body\n  const match = body.match(/payload=([^&]+)/);\n  if (match) payloadStr = decodeURIComponent(match[1]);\n} else if (body && body.payload) {\n  payloadStr = typeof body.payload === 'string' ? body.payload : JSON.stringify(body.payload);\n}\n\nif (!payloadStr) {\n  throw new Error('Could not extract payload from Slack request: ' + JSON.stringify(body).substring(0, 200));\n}\n\nconst slackPayload = JSON.parse(payloadStr);\nconst action = slackPayload.actions && slackPayload.actions[0];\n\nif (!action) {\n  throw new Error('No action found in Slack payload');\n}\n\nconst buttonValue = JSON.parse(action.value);\nconst idea = buttonValue.idea;\n\nreturn [{\n  json: {\n    idea: idea,\n    idea_id: idea.id,\n    user_id: slackPayload.user.id,\n    user_name: slackPayload.user.name,\n    response_url: slackPayload.response_url,\n    channel_id: slackPayload.channel ? slackPayload.channel.id : null\n  }\n}];"
      },
      "id": "parse-slack-payload",
      "name": "Slack Payload dekodieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.channel_id || $env.SLACK_CHANNEL_ID }}",
        "text": "🟣 Generiere Post für: *{{ $json.idea.title }}*\\nEinen Moment..."
      },
      "id": "slack-ack",
      "name": "Slack – Bestätigung senden",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [680, 400],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "autofyn Slack Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://linkedin-agent:8000/generate-post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ idea: $('Slack Payload dekodieren').first().json.idea, response_url: $('Slack Payload dekodieren').first().json.response_url, channel_id: $('Slack Payload dekodieren').first().json.channel_id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-post-generator",
      "name": "Post Generator aufrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook – Slack Button": {
      "main": [
        [
          { "node": "HTTP 200 an Slack", "type": "main", "index": 0 },
          { "node": "Slack Payload dekodieren", "type": "main", "index": 0 }
        ]
      ]
    },
    "Slack Payload dekodieren": {
      "main": [[{ "node": "Slack – Bestätigung senden", "type": "main", "index": 0 }]]
    },
    "Slack – Bestätigung senden": {
      "main": [[{ "node": "Post Generator aufrufen", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
